@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #ffffff;
    height: 125;
}

label.logo{
    color: black;
    font-size: 25pt;
    padding-left: 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin-left: 30px;
    font-family: "Inter", sans-serif;
}

nav ul li a {
    color: black;
}

a.active{
    color: #FF0000;
}

a:hover{
    color: #D65C5C;
}